<div>
    <input (change)=" uploadingFile($event)" accept=".csv , application/vnd.openxmlformats-officedocument.spreadsheetml.sheet , application/vnd.ms-excel" 
    type="file" name="csvFile" id="csvFile" multiple="false">
</div><br>
<div *ngIf="data.length > 0">
    <input type="text" [(ngModel)]="searchString">&nbsp;&nbsp;
    <select [(ngModel)]="searchOption" name="searchOption" id="searchOption">
        <option *ngFor="let key of dataKeys" [value]="key">{{key}}</option>
    </select>
</div><br>

<table >
    <thead >
        <tr>
            <th *ngFor="let key of dataKeys" >{{ key }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of data | search : searchString : searchOption">
            <td *ngFor="let key of dataKeys" >{{ data[key] }}</td>
            
        </tr>
    </tbody>
</table>